html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.avoid-clicks{
    pointer-events: none;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    background-attachment: fixed;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 200%;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 343px;
    min-height: 353px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 65px;
    width: 65px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 48px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    height: 100%;
    width: 48px;
    float: right;
    cursor: pointer;
    font-size: 200%;
    text-align: center;
}

#modal {
    display: none;
    border: none;
    width: 100vw;
    height: 100vh;
    text-align: center;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    line-height: 2;
    padding-top: 13rem;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(../img/geometry2.png);
}

.play-again {
    background-color: #00b9aa;
    border-color: #a6f6f1;
    width: 100px;
    color: white;
    height: 30px;
    border-radius: 5px;
}

@media screen and (min-width: 700px) {
    .deck {
        width: 660px;
        min-height: 680px;
        padding: 32px;
    }
    .deck .card {
        height: 125px;
        width: 125px;
    }
    h1 {
        font-size: 200%;
    }
    .score-panel {
        padding-left: 0px;
        padding-right: 0px;
    }
}
